apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app-blue
  labels:
    app: demo-app
    version: blue
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
      version: blue
  template:
    metadata:
      labels:
        app: demo-app
        version: blue
    spec:
      containers:
        - name: demo-app
          image: omkar8284/jenkins-demo:latest
          ports:
            - containerPort: 80
          imagePullPolicy: Always

